.bank_info{
    padding: 0px 15px;
}
.write_info{
    height:12px;
    font-size:13px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-bottom: 10px;
}
.info_input{
    height:90px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius:10px;
    padding: 19px 0px 19px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:15px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom: 40px;
}
.info_input input{
    height: 15px;
    outline: none;
    border:none;
}
.ok_btn{
    height:48px;
    background:rgba(0,114,255,1);
    box-shadow:0px 3px 12px 0px rgba(0,114,255,0.82);
    border-radius:24px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 48px;
}