.container{
    background: #EDEDED;
    padding: 6px 1% 0px 1%;
}
.info{
    background:rgba(255,255,255,1);
    border-radius:5px;
    padding: 0px 13px 10px 13px ;
}
.info div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info div p{
    width: 40%;
    display: flex;
    flex-direction: row;
    padding-top: 19px;
}
.info div p span{
    color: #FF0000;
    font-size: 15px;
    margin-right: 7px;
}
.info div input{
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 1px solid #E1E1E1;
}
.info .btx{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color: #FF0000;
}
.selected{
    padding: 13px 77% 10px 2%;
}
.FilletRectangle{
    display: inline-block;
    width:3px;
    height:14px;
    background:rgba(0,114,255,1);
    border-radius:2px;
    margin-right: 14px;
}
.list{
    background: #FFFFFF;
    padding: 6px 19px ;
    list-style: none;
    background:rgba(255,255,255,1);
    border-radius:5px;
}
.listItem{
    list-style: none;
}
.listItem .item{
    border-bottom: 1px solid #E1E1E1;
    margin-top: 17px;
}
.listItem .item p:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.listItem .item p span:nth-child(1){
    color: #333333;
    font-size: 14px;
}
.listItem .item p span:nth-child(2){
    color: #999999;
    font-size: 11px;
}
.listItem .item p:not(:first-child){
    font-size: 12px;
    color: #666666;
}
.package div{
    display: flex;
    justify-content: space-between;
}
.package div span:nth-child(1){
    height:12px;
    font-size:13px;
    font-family:PingFang SC;
    font-weight:400;
    color:#666666;
}
.package div label{
    font-size: 13px;
    color: #FF0000;
}
.package p{
    text-align: right;
}
.package label{
    font-size: 18px;
    color: #FF0000;
}
.pay{
    position: relative;
}
.pay p:nth-child(2){
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.pay p span:nth-child(2){
    margin-right: 36px ;
}
.agree{
    text-align: center;
}
.agree span{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color: #337ab7;
    line-height:15px;
}
.checkRadio{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.checkRadio:checked:before{
    content: '';
    width: 11px;
    height: 11px;
    border: 1px solid #ccc;
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
}
.checkRadio:checked:after{
    content: '';
    width: 5px;
    height: 5px;
    border: 2px solid #0072FF;
    position: absolute;
    border-radius: 50%;
    left: 3px;
    top: 3px;
}
.gopay{
    width: 300px;
    height: 41px;
    background: #0072FF;
    font-size:15px;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin: 52px auto;
    text-align: center;
    line-height: 41px;
    box-shadow:0px 3px 12px 0px rgba(0,114,255,0.82);
    border-radius:5px;
}